pandas
streamlit==1.38.0
matplotlib
seaborn
plotly
scikit-learn
sentence-transformers
gensim
scipy
numpy
jellyfish
gensim
spacy 
networkx 
ete3 
qinfer
jellyfish>=0.8
statsmodels>=0.12
Levenshtein>=0.12
openpyxl>=3.0
libtesseract-dev 
libleptonica-dev
pillow
openai
jiwer
fpdf
pytesseract
