pandas
streamlit==1.38.0
matplotlib
seaborn
plotly
scikit-learn
sentence-transformers
gensim
scipy
numpy
jellyfish
gensim
spacy 
networkx 
ete3 
statsmodels 
Levenshtein
qinfer
openpyxl 
pytesseract
tesseract-ocr
pillow
openai
jiwer
fpdf
