pandas
streamlit
matplotlib
seaborn
plotly
scikit-learn
gensim
jellyfish
spacy
networkx
statsmodels
python-Levenshtein
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.6.0/pt_core_news_sm-3.6.0-py3-none-any.whl
